/*CSS RESET*/

body{
    position: relative;
}


/*PROJECT CSS*/

*{
    font-family: Roboto,"Open Sans",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loginBtn{
    width: 90px;
    height: 40px;
    text-align: center;
    background: rgb(239,239,239);
    border: none;
    border-radius: 8px;
    font-size: larger;
    transition: all ease-in .4s;
    cursor: pointer;
    margin-right: 30px;
}

.loginBtn:hover{
    background: rgb(215,215,215);
}

header{
    display: flex;
    flex-direction: row;
  justify-content: space-around;
    position:relative;
    align-items: center;
    flex-wrap: wrap;
    height: 90px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    -webkit-box-shadow: 0px 4px 17px 1px #D0D0D0;
    box-shadow: 0px 4px 17px 1px #D0D0D0;

}

main{
    background: rgb(239,238,241);
    height: 80vh;
    min-height: 80vh;
    padding: 50px 0;

    position: relative;
}

.logo{
    margin-left: 30px;
    font-size: 2.5rem;
}

footer{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
}

footer i {
    font-size: 1.5rem;
}

footer a{
    font-weight: bold;
}
footer a:link{
    text-decoration: none;
}
footer a:visited{
    color: black;
}

.addBtn {
    width: 150px;
    height: 60px;
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 10px;
    transition: all ease-in .2s;
    cursor: pointer;
    background: rgb(239,239,239);
    font-size: 1.6rem;
    font-weight: bold;
}
.addBtn:hover{
    background: rgb(215,215,215);

}
.overlay{
    position: absolute;
    /*top: -100vh;*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: rgba(0, 0, 0, 0.5) ;*/
    width: 100vw;
    height: 100vh;
    z-index: 10;
    transition: all ease-in 90ms;
    transform: scale(0);
}

.open{

    /*top: 0 !important;*/
    /*height: 100vh !important;*/
    background: rgba(0, 0, 0, 0.5) ;
    transform: scale(1);
}

.main{
    z-index: -10
}

.booksContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.bookCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: white;
    border-radius: 10px;
    width: 300px;
    -webkit-box-shadow: 0px 4px 17px 1px #D0D0D0;
    box-shadow: 0px 4px 17px 1px #D0D0D0;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
     background: rgb(240,238,241);
    border-radius: 10px;
    width: 300px;
    max-width: 300px;
    position: absolute;
    gap: 15px;
    transition: all ease-in 400ms;
    transform: scale(0);
}

.open form{
    transform: scale(1);
}

form h1{
    font-weight: 900;
}

#id:placeholder-shown:invalid{

    border: 1px solid indianred;
}


.submit{
    border: none;
    border-radius: 10px;
    /*max-width: 180px;*/
    width: 95%;
    height: 50px;
    font-weight:normal;
    font-size: 1.2rem;
    cursor: pointer;
    background: rgb(189,254,159);
}

form input{
    border: none;
    border-radius: 10px;
    background: rgb(255,255,255);
    padding-left: 10px;
    width: 95%;
    height: 50px;
    font-size: 1.15rem;
}

.readContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.readContainer label{
    font-weight: 900;
}

.readContainer input{
    width: 1.3rem;
    font-size: initial;
}

form input:focus{
    outline: none;
}

